[% #--------------------------------------------------------------------
   # Master template for rendering the main part of the web interface. 
   # This template pulls in various other templates, depending on which
   # dataset(s) are currently in the query being built.
   #--------------------------------------------------------------------
%]

[% USE Number.Format %]
[% PROCESS 'collapsible_section.tt' %]
  
  <form name="mainform" action="[% form_action %]" method="post" enctype="multipart/form-data">
	
	
	<table cellpadding="0" class ="mart_main_menubar" border="0" width="100%" style="table-layout: fixed;">
	<tr>
	<td align="left" valign="top" >	
				     
			<!--
			<img src="/martview/images/biomart-logo.gif" alt="" style="float: right; margin: 6px 4px 0px 0px"/></a> 				 
			-->
	
		
			<input type="submit" value="New" style="margin: 0px 0px 0px 22px" name="submit.newsession" 

			class="mart_btn"
   			onmouseover="this.className='mart_btn mart_btnhov'" 
   			onmouseout="this.className='mart_btn'"
			onclick="
			var currentPath = window.location.pathname; 
			currentPath = currentPath.replace('/[% session.param('_SESSION_ID') %]', '');
			[% IF session.param("GALAXY_URL") %]
			currentPath = currentPath + '?GALAXY_URL=[%session.param("GALAXY_URL")%]';
			[% END %] 	
  			window.location = currentPath; 
  			return false; 
  			" 
  			title="Start a new query"/>	    
	
	
		     <!-- input type="submit" value="XML" name="submit.showquery" 

			class="mart_btn"
   			onmouseover="this.className='mart_btn mart_btnhov'" 
   			onmouseout="this.className='mart_btn'"

          	onclick="	
          	document.mainform.showquery.value = 1; 
          	document.mainform.do_export.value = 0; 
			document.mainform.savequery.value = 0; 
			document.mainform.target = 'newwindow'; 
			document.mainform.submit(); " title ="Show query in XML Web Service Format"/ -->

	
			<input type="submit" value="Help" name="submit.help" 

			class="mart_btn"
   			onmouseover="this.className='mart_btn mart_btnhov'" 
   			onmouseout="this.className='mart_btn'"
   			
          	onclick="
          	document.mainform.showquery.value = 0; 
          	document.mainform.do_export.value = 0; 
			document.mainform.savequery.value = 0;
			document.mainform.target = '_self'; 
			var summaryCountElt1 = document.getElementById('summarypanel_filter_count_1');
			if (summaryCountElt1)
			{				
				document.mainform.summarypanel_filter_count_1.value = summaryCountElt1.innerHTML;
			}
			var summaryCountElt2 = document.getElementById('summarypanel_filter_count_2');
			if (summaryCountElt2)
			{
				document.mainform.summarypanel_filter_count_2.value = summaryCountElt2.innerHTML;
			}

          	javascript:void(window.open('/perl/helpview?kw=martview;se=1','helpview','width=700,height=550,resizable,scrollbars'));	
          	 " title ="Get Help"/>

	
			<input type="submit" value="Count" name="get_count_button" 

			class="mart_btn"
			onmouseover="this.className='mart_btn mart_btnhov'" 
			onmouseout="this.className='mart_btn'"

			onclick="document.mainform.do_export.value = 0; 
			document.mainform.track_visible_section.value = document.mainform['mart_mainpanel__current_visible_section'].value;
			document.mainform.savequery.value = 0; 
			document.mainform.showquery.value = 0; 
			document.mainform.countButton.value = 1;
			document.mainform.target = '_self'; 
			document.mainform.submit();
			" title="Get result count for the query with any filters applied"/>

	
			<input type="submit" value="Results" name="get_results_button" 

			class="mart_btn"
			onmouseover="this.className='mart_btn mart_btnhov';" 
			onmouseout="this.className='mart_btn';"
			
			onclick="document.mainform.do_export.value = 0; 
			document.mainform.savequery.value = 0;
			document.mainform.showquery.value = 0;  
		
			var summaryCountElt1 = document.getElementById('summarypanel_filter_count_1');
			if (summaryCountElt1)
			{				
				document.mainform.summarypanel_filter_count_1.value = summaryCountElt1.innerHTML;
			}
			var summaryCountElt2 = document.getElementById('summarypanel_filter_count_2');
			if (summaryCountElt2)
			{
				document.mainform.summarypanel_filter_count_2.value = summaryCountElt2.innerHTML;
			}


			document.mainform.track_visible_section.value = document.mainform['mart_mainpanel__current_visible_section'].value;
	
			document.mainform['mart_mainpanel__current_visible_section'].value = 'resultspanel'; 
			document.mainform['summarypanel__current_highlighted_branch'].value = 'show_results'; 

	
			document.mainform.target = '_self'; 
			document.mainform.submit();" 
			title="Preview the results of the query"/>
	
			<!--
			<div style="clear: both; width: inherit; line-height: 0; height: 0;">&nbsp;</div>
			-->
	</td>
	</tr>
	</table>
	
	
	
	
	<table cellpadding="0" border= "0" width="100%" style="table-layout: fixed;">
	<tr>	
	<td align="left" width="35%" valign="top">		

		<div class="mart_summarypanel_datasets">	
			[% PROCESS 'summarypanel.tt' %]		       
		</div> <!-- summary box closes -->
	
	</td>		
	

	<td align="left" width="65%" valign="top" >			

        <input type="hidden" name="menuNumber" value="0" />
        <input type="hidden" name="newsession" value="0" />
        <input type="hidden" name="do_export" value="0" />
        <input type="hidden" name="do_export2resultspage" />
        <input type="hidden" name="savequery" value="0" />
        <input type="hidden" name="showquery" value="0" />
        <input type="hidden" name="countButton" value="0" />
        <input type="hidden" name="reverseName" value="[% reverseNAME %]" />
        <input type="hidden" name="summarypanel_filter_count_1" value="[%session.param('ds_1_count')%]" />
        <input type="hidden" name="summarypanel_filter_count_2" value="[%session.param('ds_2_count')%]" />

        <input type="hidden" name="track_visible_section" value="0" />
        <input type="hidden" name="export_dataset" value="[% session.param('export_dataset') || 0 %]" />
	
	<div id="mart_mainpanel">
	
	[% IF session.param("dataset").size >= 1 %]

		[% # Set the default visible-section ID, if it's not already set in the session. Also set the branch 
   		   # in the summary-tree which should be highlighted along with it. %]
		[% IF !session.param("mart_mainpanel__current_visible_section") %]
    		[% # || session.param("mart_mainpanel__current_visible_section") == 'add_linked_datasetpanel' %]
  			[% first_dset_name = session.param("dataset").first() %]
  			[% infoPanel = "${datasetOBJ.name}" _ "__infopanel" %]
  			[% summaryPanel = "${datasetOBJ.name}" _ "__summarypanel_datasetbranch" %]

  			[% foo = session.param("mart_mainpanel__current_visible_section", "${infoPanel}" ) %]
  			[% bar = session.param("summarypanel__current_highlighted_branch", "${summaryPanel}" ) %]
		[% END %]
		<input type="hidden" name="mart_mainpanel__current_visible_section" value="[% session.param('mart_mainpanel__current_visible_section') %]"/>
		<input type="hidden" name="summarypanel__current_highlighted_branch" value="[% session.param('summarypanel__current_highlighted_branch') %]"/>

		[% # Show linked dataset menu, but only if we have a single dataset by now (NEEDS MODS TO HANDLE >2 dsets!!!) %]
		[% IF session.param('dataset').size == 1 %]
			<div id="add_linked_datasetpanel" style="display: none">
				[% PROCESS "linked_datasets_menu.tt" %]
			</div>
		[% END %]	

		[% # Foreach datasets currently configured, render filter & attributepanel for it. Note that 
   		# only one panel is shown at a given time, the others (if any) are hidden from user. %]
		[% default_attributepage_for_export %]
		[% all_attributepages = [] %]
		[% dset_count = 0 %]

		[% FOREACH dset_name = session.param('dataset') %]
			[% dset = wq.get_mart_registry().getDatasetByName(session.param("schema"), dset_name) %]
			[% dset_count = dset_count + 1 %]

			[% # Render small panel with info on this dataset (schema, database and such). The startup
   			# panel of schema/database/dataset is displayed for the first dataset, the linked dataset
   			# panel is shown for the other datasets. %]
			<div id="[% dset_name %]__infopanel" style="display: none">
				[% dataset = dset %]
				[% IF dset_count == 1 %]
  					[% PROCESS "datasetpanel.tt" %]
				[% ELSE %]
  					[% PROCESS "linked_datasets_menu.tt" %]
				[% END %]

			</div>

			[% param_prefix = dset_name _ '__' %]	
			
			[% # Render pre-generated attributepanel for this dataset %]
			[% attributepanel = 'attributepanel_'
                     		_ session.param('schema') _ '.'
                     		_ dset_name _ '.tt' %]
                     		
               <!-- [% attributepanel %] -->
			[% PROCESS $attributepanel %]

			[% # Render pre-generated filterpanel for this dataset %]
			[% filterpanel = 'filterpanel_'
                  		_ session.param('schema') _ '.'
                  		_ dset_name _ "\.tt" %]
                  		
               <!-- [% filterpanel %] -->
			[% PROCESS $filterpanel %]

		[% END %]



		[% IF !session.param("__validationError") && result_string.defined() && result_string != "" # show results if we have any at this point %]

			<div id="resultspanel">

				<div id="mart_export_menubar">

				<table cellpadding="0" width="100%" style="table-layout: fixed;">
				<tr>
				<td align="left" width="25%" valign="bottom">
						Display maximum
				</td>
				<td align="left" width="75%" valign="bottom">
					<select name="export_subset" 
					class="mart_input"
					onmouseover="this.className='mart_input mart_inputhov'" 
					onmouseout="this.className='mart_input'"

					onchange="
					document.mainform.do_export.value = 0;
					document.mainform.showquery.value = 0;  
				
					var summaryCountElt1 = document.getElementById('summarypanel_filter_count_1');
					if (summaryCountElt1)
					{				
						document.mainform.summarypanel_filter_count_1.value = summaryCountElt1.innerHTML;
					}
					var summaryCountElt2 = document.getElementById('summarypanel_filter_count_2');
					if (summaryCountElt2)
					{
						document.mainform.summarypanel_filter_count_2.value = summaryCountElt2.innerHTML;
					}
	
					document.mainform.target = '_self'; 
					document.mainform.savequery.value = 0; 
					document.mainform.submit(); ">

					[% FOREACH c = [10,20,50,100,150,200] %]
  						<option value="$c"
						[% IF session.param("export_subset").defined() && session.param("export_subset") == c %]
 selected="selected"
						[% END %]>$c</option>

					[% END %]

					</select>
 					rows as 
					<select name="outputformat" 
					class="mart_input"
					onmouseover="this.className='mart_input mart_inputhov'" 
					onmouseout="this.className='mart_input'"
				
					onchange="
						document.mainform.do_export.value = 0; 
						document.mainform.showquery.value = 0; 
						
						var summaryCountElt1 = document.getElementById('summarypanel_filter_count_1');
						if (summaryCountElt1)
						{				
							document.mainform.summarypanel_filter_count_1.value = summaryCountElt1.innerHTML;
						}
						var summaryCountElt2 = document.getElementById('summarypanel_filter_count_2');
						if (summaryCountElt2)
						{
							document.mainform.summarypanel_filter_count_2.value = summaryCountElt2.innerHTML;
						}
	
						document.mainform.target = '_self'; 
						document.mainform.savequery.value = 0;  
						document.mainform.submit();	">
					
					[% IF session.param("GALAXY_URL") %]
						<option value="tsv">TSV</option>
					[% ELSE %]
					[% FOREACH outputformat = session.param("export_outputformats") %]
						[% IF outputformat != "txt" %]
  						<option value="$outputformat"
							[% IF session.param("outputformat").defined() && session.param("outputformat") == outputformat %]
 								selected="selected"	
							[% END %]>[% outputformat FILTER upper %]
						</option>
						[% END %]
					[% END %]
					[% END %]

					</select>
				</td>
				</tr>
				<tr>
				<td align="left" width="25%" valign="bottom">
					Export all results to
				</td>
				<td align="left" width="75%" valign="bottom">
						<select name="export_saveto"
								class="mart_input"
								onmouseover="this.className='mart_input mart_inputhov'" 
								onmouseout="this.className='mart_input'"

								onchange="
								var exportOpt = document.mainform.export_saveto.options[document.mainform.export_saveto.selectedIndex].value;
								if (exportOpt=='file_bg' || exportOpt=='gz_bg') {
									document.getElementById('__email_section').style.display = 'block';
								} else {
									document.getElementById('__email_section').style.display = 'none';
								}
								">
  							[% IF !session.param("GALAXY_URL") %]
								<option value="file">File</option>	
  								<option value="text">Browser</option>
	  							<option value="gz">Compressed file (.gz)</option>
  								[% IF session.param("__enable_background")==1 %]
  									<! -- <option value="file_bg">Web File (notify by email)</option> -->
	  								<option value="gz_bg">Compressed web file (notify by email)</option>
	  							[% END %]
 							[% ELSE %]
  								<option value="text">Galaxy</option>
  							[% END %]
						</select>
						<input type="submit" name="export_submit" value="Go" 
							class="mart_btn_go"
							onmouseover="this.className='mart_btn_go mart_btnhov_go'" 
							onmouseout="this.className='mart_btn_go'"

							onclick="
							if(this.value != '') 
							{ 
	  							[% IF session.param("GALAXY_URL") %]
								[% dset = wq.get_mart_registry().getDatasetByName(session.param("schema"), dset_name) %]
								document.mainform.action = 
									'[% session.param("GALAXY_URL") %]'+
									'?type=text'+
									'&name=[% dset.displayName() || dset_name %]'+
									'&URL=http://'+location.host+'[% form_action %]?do_export=1';
								[% END %]
								document.mainform.do_export.value = 1; 
								document.mainform.showquery.value = 0; 
								document.mainform.savequery.value = 0;  
								var okToSub = 1;
								var exportOpt = document.mainform.export_saveto.options[document.mainform.export_saveto.selectedIndex].value;
								if (exportOpt=='file_bg' || exportOpt=='gz_bg') {
								   document.mainform.target = '_self'; 
								   if (document.mainform.background_email.value=='') {
								   	alert('You need to specify an email address for background jobs.');
								   	okToSub = 0;
								   }
								} else {
								   document.mainform.target = 'newwindow'; 
								}
								if (okToSub==1) { 
								 	document.mainform.submit(); 
								} 
								return false;
							} "/>
				</td>
				</tr>
				</table>		
						<div id="__email_section" style="display: none;" class="email_notification">
						<table cellpadding="0" width="100%" style="table-layout: fixed;">
						<tr>	
						<td align="left" width="25%" valign="bottom">
							Email notification to
						</td>
						<td align="left" width="75%" valign="bottom">
							<input type="text" name="background_email" value="[% session.param("background_email") %]"
								class="mart_input"
								onmouseover="this.className='mart_input mart_inputhov'" 
								onmouseout="this.className='mart_input'"
								/>
						</td>
						</tr>
						</table>
						</div>
				</div>
			
				<div id = "mart_export_data" >
					[% result_string %]
				</div>
			
				</div>
		[% END %]	
		
		<script language="JavaScript" type="text/javascript" >
		//<![CDATA[
		// Various startup/initialization related things for the main panel and
		// the summary panel.
		// Set the proper section to visible-status on the main panel
			showPanelHideSiblings('[% session.param("mart_mainpanel__current_visible_section") %]');
			setHighlightedSummaryPanelBranch('[% session.param("summarypanel__current_highlighted_branch") %]');

		//]]>
		</script>

	[% ELSE %]
  		[% # If no datasets are selected yet, show the full dataset-selection menu section with
     		# the default dataset pre-selected %]
  		[% PROCESS "datasetpanel.tt" %]
	[% END %]

	</div>
	
	</td>
	</tr>
	</table>
	
	<div id="mart_bottom_bar">
         biomart version 0.5	
	</div>
		
  </form>
