:root {
  --main-dark: [[MAIN_DARK]];
  --main-v-dark: [[MAIN_V_DARK]];
  --main-light: [[MAIN_LIGHT]];
  --main-medium: [[MAIN_MEDIUM]];
  --pale-grey: [[PALE_GREY]];
  --dark-grey: [[DARK_GREY]];
  --white: [[WHITE]];
}
