/* document elements */
.document_h a       { display: none; text-decoration: none; }
.document_h:hover a { display: inline; }
p.document_p        { line-height: 20px; margin: 0 0 12px; text-align: justify; }

/* code */
.code               { font-family: Courier !important; }
div.code            { margin-bottom: 16px; overflow: auto; }
span.code           { margin: 0; padding: 0 2px !important; border: 0; }
.code p.document_p  { margin: 0; text-align: left; width: 100%; white-space: pre; }

/* list styles */
div.list_bullet,
div.list_alphabet,
div.list_number                     { padding: 3px 3px 3px 20px; }
div.list_element > p.document_p,
div.list_element > div.document_div { display: list-item; line-height: 20px; }
/*
div.list_bullet div.list_element    { list-style-type: disc; }
div.list_number div.list_element    { list-style-type: decimal; }
div.list_alphabet div.list_element  { list-style-type: lower-alpha; }
*/

/* TOC */
div.document_toc          { margin-bottom: 32px; }
div.document_toc div div  { padding: 0 0 0 16px; }
div.document_toc div p    { margin: 0 0 8px; }
div.document_toc span.num { margin-right: 6px; display: inline-block; font: 14px/20px courier; }

/* preview */
.admin-doc-preview { text-align: center; }