.document_h {
  padding: 12px 0 !important;
  margin: 0 !important;
}
.document_h a {
  display: none;
  text-decoration: none;
}
.document_h:hover a {
  display: inline;
}
p.document_p {
  line-height: 18px;
  margin: 3px 0;
  text-align: justify;
}
.code {
  font-family: Courier !important;
}
.code p.document_p {
  margin: 0;
  text-align: left;
  width: 100%;
  white-space: pre;
}
div.code {
  margin-bottom: 12px;
  overflow: auto;
}
span.code {
  margin: 0;
  padding: 0 2px;
  border: 0;
}

div.list_bullet, div.list_alphabet, div.list_number {
  padding: 3px 3px 3px 20px;
}

/*div.list_bullet */
div.list_element > p.document_p, div.list_element > div.document_div {
  display: list-item;
  line-height: 20px;
}

div.document_toc div {
  padding: 6px 0 2px 10px;
}

.admin-doc-preview {
  text-align: center;
}

/*
div.list_bullet div.list_element {
  list-style-type: disc;
}

div.list_number div.list_element {
  list-style-type: decimal;
}

div.list_alphabet div.list_element {
  list-style-type: lower-alpha;
}
*/