.admin-plain-box, .admin-left-box, .admin-right-box {
  padding: 16px 16px 0;
  margin: 0 0 16px 0;
}

.admin-left-box {
  float: left;
  width: 400px;
  margin-top: 0;
}

.admin-right-box {
  margin-left: 448px;
}

.admin-species {
  overflow: hidden;
}

.admin-species .species-box {
  float: left;
  width: 300px;  
}

.admin-species .species-box span {
  font-weight: bold;  
}

.ts-spinner {
  border: 1px solid [[NEUTRAL_BG]];
  clear: both;
  background-position: center center;
}
.ts-tab {
  display: none;
}
.ts-buttons-wrap {
  clear: both;
  margin-top: 10px;
}
.ts-button {
  display: block;
  float: left;
  margin: 0 3px;
  padding: 4px 5px;
  text-decoration: none;
  outline: none;
  font-weight: bold;
  background-color: [[NEUTRAL_BG]];
  border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
}
.ts-button.selected {
  background-color: [[NEUTRAL_BORDER]];
  color: white;
}
