.admin-left-box {
  float: left;
  width: 400px;
}

.admin-right-box {
  padding-left: 416px;
}

.admin-species .species-box {
  float: left;
  width: 300px;  
}

.admin-species .species-box span {
  font-weight: bold;  
}

div.ts-spinner {
  background-position: center center;
  border: [[PANEL_BORDER]] solid 1px;
  clear: both;
}
.ts-tab {
  display: none;
}
.ts-buttons-wrap {
  clear: both;
}
a.ts-button, a.ts-button:hover {
  display: block;
  float: left;
  margin: 0 3px;
  padding: 6px 5px 3px;
  text-decoration: none;
  outline: none;
  font-weight: bold;
  background-color: [[PANEL_BORDER]];
  color: [[PAGE_BG]];
  border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
}
a.ts-button.selected {
  background-color: [[PAGE_BG]];
  border: [[PANEL_BORDER]] solid 1px;
  color: [[PAGE_TEXT]];
  padding: 5px 4px 4px;
  margin-bottom: -1px;
  border-bottom: none;
}
