.mceLayout td { width: auto !important }

div.dbf-record .cl-title {
  padding-left: 3px;
}

span.cl-field-title {
  padding-left: 3px;
  font-weight: bold;
  float: left;
  clear: left;
  margin: 2px 5px 2px 1px;
}
span.cl-field-value {
  float: left;
  clear: right;
  margin: 2px;
}

span.cl-fv-handed_over {
  color: green;
}

span.cl-fv-declared {
  color: blue;
}

span.cl-fv-postponed, span.cl-fv-cancelled {
  color: red;
}

div.cl-toc {
  margin-bottom: 10px;
}

div.cl-toc p {
  margin: 2px 15px;
}

div.cl-toc a {
  font-weight: bold;
  text-decoration: none;
}

h2.cl-team-heading {
  padding-top: 30px;
}