.mceLayout td { width: auto !important }

div.dbf-record .cl-padded {
  padding: 16px 16px 8px;
  overflow: hidden;
}

span.cl-field-title, span.cl-field-value {
  display: block;
  padding: 0 0 4px;
  line-height: 20px;
}

span.cl-field-title {
  float: left;
  clear: left;
  font-weight: bold;
  width: 200px;
}

span.cl-field-value {
  padding-left: 216px;
}

span.cl-fv-handed_over {
  color: green;
}

span.cl-fv-declared {
  color: blue;
}

span.cl-fv-postponed, span.cl-fv-cancelled {
  color: red;
}

div.cl-toc {
  margin-bottom: 16px;
}

div.cl-toc p {
  margin-bottom: 8px;
}

div.cl-toc a {
  font-weight: bold;
  text-decoration: none;
}

h2.cl-team-heading {
  padding-top: 30px;
}

div.change-width {
  width: 240px;
}
div.change-width label {
  width: 100px;
  line-height: 22px;
}
div.change-width div {
  padding: 0;
}
div.change-width input.change-width {
  width: 32px;
}