div.hc-formfield label.ff-label {
  width: 240px;
  line-height: 18px;
}
div.hc-formfield div.ff-right {
  padding: 0;
}
div.hc-tabs a.ts-button, div.hc-tabs a.ts-button:hover {
  background-color: [[PAGE_BG]];
  border: [[PANEL_BORDER]] solid 1px;
  color: [[PANEL_BORDER]];
  border-bottom: 0;
}
div.hc-tabs a.ts-button.selected {
  background-color: [[PANEL_BORDER]];
  color: [[PAGE_TEXT]];
}
div.hc-comment-info, div.hc-comment-info a {
  color: #aaa;
  font-style: italic;
}
div.hc-comment-link {
  text-align: right;
}
div.hc-comment-link a {
  margin: 0 3px 0 12px;
}
span.hc-oked {
  color: #444;
}
span.hc-problem {
  color: #a00;
}
span.hc-warning {
  color: #a60;
}
span.hc-info {
  color: #060;
}
span.hc-new {
  font-weight: bold;
}
.hc-done, .hc-releaseonly, .hc-notdone, .hc-done a, .hc-releaseonly a, .hc-notdone a {
  list-style-image: none;
  text-decoration: none;
}
.hc-done a:hover, .hc-releaseonly a:hover, .hc-notdone a:hover {
  text-decoration: underline;
}
.hc-done, .hc-done a {
  color: #006600;
}
.hc-config {
  background-color: [[BUTTON_BG]];
  border: 3px double #fff;
  color: #fff;
}
.hc-config p {
  margin: 2px 0 6px;
}
.hc-config label {
  display: block;
  padding: 4px 0 0 24px;
  outline: none;
}
.hc-config input {
  float: left;
}
.hc-releaseonly, .hc-releaseonly a {
  color: #aa9900;
}
.hc-notdone, .hc-notdone a {
  color: #aa0000;
}
tr.bg1 .hc-cell-highlight {
  background-color: #ddf;
}
tr.bg2 .hc-cell-highlight {
  background-color: #ccf;
}
h3 a {
  margin-left: 10px;
  font-size: 10px;
  text-decoration: none;
}