table.prod-ss {
  table-layout:fixed;
}

table.prod-ss th {
  padding: 2px;
}

table.prod-ss td {
  border-bottom: 1px solid [[NEUTRAL_BG]];
}

h2.prod-h2 {
  margin-top: 20px;
}

div.prod-group {
  clear: both;
  padding: 3px;
  border: 1px solid [[NEUTRAL_BORDER]];
  border-width: 0 1px;
}

div.prod-group-first {
  border-top-width: 1px;
}

div.prod-group-last {
  border-bottom-width: 1px;
}

div.prod-list div.bg1 {
  background-color: [[PANEL_BG]];
}

div.prod-list div.bg2 {
  background-color: [[NEUTRAL_BG]];
}