.mart_main_menubar { border-bottom: 1px solid black; }
.mart_summarypanel_datasets { border-width: 1px 1px 1px 1px; border-color: #999 }
#mart_mainpanel { border-width: 1px 1px 1px 1px; border-color: #999 }
.mart_databasemenu, .mart_interfacemenu, .mart_datasetmenu { border-bottom-width: 1px; border-bottom-color: #999; }
.dummyLine { border-bottom: 1px solid #999 }
div#mart_mainpanel { border: 1px solid #999 }
div#mart_bottom_bar { border: 0px; border-top: 1px solid black }

.mart_btn, .mart_btnhov, .mart_btn_go, .mart_btnhov_go { background-color: #426fbf; color: #fff; border: 2px outset #426fbf }

.mart_attributepage_selection_col a, .attribute a, 
.mart_attributecollection_title a, 
.mart_filtercollection a,
.ctl_visible_AttFiltPanel a { color:#000; }

.mart_tableSummaryPanel { background-color: #eaeeff }


.mart_summarypanel_listheader, .mart_summarypanel_listheader_mouseover, .mart_summarypanel_listheader_highlighted, .mart_summarypanel_AttFiltHeader, .mart_summarypanel_AttFiltHeader_highlighted, .mart_summarypanel_AttFiltHeader_mouseover { color: #426fbf; padding: 0 2px }

.mart_summarypanel_listheader:hover, .mart_summarypanel_listheader_mouseover:hover, .mart_summarypanel_listheader_highlighted:hover, .mart_summarypanel_AttFiltHeader:hover, .mart_summarypanel_AttFiltHeader_highlighted:hover, .mart_summarypanel_AttFiltHeader_mouseover:hover { color: #cc0000 }

.mart_btnhov_go:hover, .mart_btnhov:hover { background-color: #933 }

.mart_summarypanel_listheader_highlighted, .mart_summarypanel_AttFiltHeader_highlighted { background-color: #99b0ff }
.mart_btn_new, .mart_btn_count, .mart_btn_url, .mart_btn_results, .mart_btn_help, .mart_btn_xml, .mart_btn_perl { background-color: #426fbf }

