.g_spinner {
  background: url("/i/e-loader.gif") repeat scroll 0 0 transparent;
  height: 66px;
  left: 860px;
  position: fixed;
  top: 93px;
  width: 66px;
}

.g_fail {
  background: url("/i/fail.gif") repeat scroll 0 0 transparent;
  height: 66px;
  left: 860px;
  position: fixed;
  top: 93px;
  width: 133px;
}

.g_page_no_results {
  color: #E0E0E0;
  font-size: 60px;
  font-weight: bold;
  margin-top: -20px;
  margin-bottom: 20px;
  text-align: center;
}

.se_query {
  z-index: 2;
}

.preview_float {
  background: url("/i/16/forward2g.png") no-repeat scroll 7px 50% white;
  border-color: #CCCCCC;
  border-image: none;
  border-radius: 16px 0 0 16px;
  border-style: solid;
  border-width: 1px 0 1px 1px;
  height: 100%;
}

.preview_float_click {
  bottom: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 24px;
  display: none;
  z-index: 9;
  padding-left: 50px;
}

.g_preview_closer {
  float: right;
  background: url(/i/16/cross.png);
  z-index: 10000;
  height: 16px;
  width: 16px;
  margin-right: 16px;
  margin-top: 16px;
  opacity: 0.2;
  cursor: pointer;
}

.table_result_fake_hover .preview_float {
  background-color: #eee;
  z-index: 10;
}

.table_result:hover .preview_float_click , 
.table_result_fake_hover .preview_float_click {
  display: block;
}

.se_search .table_result {
  position: relative;
}

.preview_holder {
  bottom: 0;
  left: 100%;
  position: fixed;
  right: 0;
  top: 80px;
  margin-left: -1px;  
  z-index: 3;
}

.g_preview {
  width: 100%;
  height: 100%;
  border-left: 1px solid #ccc;
  background: #eee; 
}

.g_preview h1 {
  padding: 24px 32px 40px 32px;
  font-size: 200%;
}

.g_preview_placer {
  /*width: 95%;*/
  max-width: 1000px;
  /*height: 100%;*/
  top: 100px;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  padding: 50px;
  margin: 0;
  display: none;
}

.g_preview_border {
  height: 100%;
  border: 1px solid #DDD;
  padding: 8px;
  background: white;
}

.g_preview_shrinker {
  -ms-zoom: 0.6;
  -moz-transform: scale(0.6);
  -moz-transform-origin: 0px 0;
  -o-transform: scale(0.6);
  -o-transform-origin: 0 0;
  -webkit-transform: scale(0.6);
  -webkit-transform-origin: 0 0; 
  width: 167%;
  height: 167%;
}

.g_preview iframe {
  overflow: hidden;
  border: none;
  width: 100%;
  height: 100%; 
}

.g_preview_border_s {
  background: url(/i/tear-down.png);
  height: 16px;
  width: 100%;
  padding: 0;
  margin-top: -1px;
}

.table_result:hover ,
.table_result_fake_hover {
  background: #f8f8f8;
}

/* Right footer underneath not on right */
.solr_page_p_page #wide-footer .column-two {
  float: none;
}

.solr_page_p_page #wide-footer .right {
  text-align: left;
}

.solr_page_p_page #wide-footer p {
  margin: 8px 0;
}

/* Quick links */

.solr_g_layout .description em {
  background: #FFFFA8;
}

.g_preview_noclick {
  position: fixed;
  left: 0;
  top: 0;
  width: 0;
  height: 0; 
  z-index: 400;
}

.g_preview_noclick .g_preview_noclick_textcarrier {
  display: none;
}

.g_preview_noclick:hover .g_preview_noclick_textcarrier {
  display: block;
  font-weight: bold;
  background: white;
  filter: alpha(opacity=70); 
  opacity: 0.7;
  zoom: 1;
  color: #888;
  height: 100%;
}

.g_preview_noclick_text {
  display: inline-block;
  margin: 100px auto;
  width: 100%;
  text-align: center;
  height: 100%;
  font-size: 140px;
}
.g_preview_quick_links {
  margin-top: -48px;
  font-size: 90%;
}

.g_preview_quick_links li {
  display: inline;
}

.g_preview_quick_links {
  padding: 0;
  margin: -56px 32px 32px 24px;
}

.g_preview_quick_links a {
  display: inline-block;
  padding: 0 0 0 24px;
  background: url(/i/bullet_1.gif) 8px 60% no-repeat;
}

/* Preview spinner */

.g_preview_spinner {
  margin: auto;
  width: 100px;
  height: 100px;
}

.g_preview_spinner_inner {
  position: absolute;
  height: 100px;
  width: 100px;
  top: 200px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background: white;
}

.g_preview_spinner_img {
  background: url("/i/e-loader.gif") repeat scroll 0 0 transparent;
  height: 66px;
  width: 66px;
  margin: auto;
  top: 17px;
  left: 17px;
  position: absolute;
}

.sidecar_holder {
  bottom: 0;
  right: 0;
  top: 60px;
  position: fixed;
  padding: 48px;
  width: 450px;
}

.solr_g_layout .search_table_filter {
  float: none;
}

.scside {
  width: 450px;
  padding: 0;
  border: 1px solid #ccc;
  box-shadow: 0 1px 3px #ccc;
  margin-bottom: 32px;
  overflow: hidden;
}

.sctopgene {
  position: relative;
  transition: max-height 1s linear;
  -webkit-transition: max-height 1s linear;
  max-height: 101px;
}

.sctopgene:hover {
  max-height: 1000px;
}

.scnbox {
  overflow: hidden;
}

.scnarrow.scnbox-hidden {
  max-height: 0px;
  opacity: 0;
  margin-bottom: 0;
}

.scnarrow {
  width: 595px;
  margin-left: -8px;
  padding: 0;
  border: 1px solid #ccc;
  box-shadow: 0 1px 3px #ccc;
  margin-bottom: 16px;
  transition: max-height 1s linear, opacity 0.5s linear;
  -webkit-transition: max-height 1s linear, opacity 0.5s linear;
  max-height: 1000px;
  opacity: 1;
  overflow: hidden;
}

.scnarrow h1 {
  border-bottom: 1px solid #CCCCCC;
  color: #999999;
  font-size: 1.5em;
  padding: 10px 12px 4px 16px;
  margin: 0;
  height: 25px;
}

.scnarrow ul {
  list-style: none;
  padding-left: 0;
}

.scnarrow ul li {
  background: url("/i/32/arrow-right-pale.png") no-repeat scroll 8px 50% transparent;
  color: #333333;
  display: table;
  margin-bottom: 0.5em;
  margin-top: 4px;
  padding-left: 48px;
}

.scnarrow ul li > div {
  display: table-cell;
  height: 40px;
  vertical-align: middle;
}

.scsug-fold {
  margin: 4px 16px;
  font-size: 16px;
  font-style: italic;
  font-weight: bold;
}

.sctopgene ul {
  padding: 0px;
  margin: 10px 6px 6px 12px;
}

.sctopgene li {
  display: inline-block;
  list-style: none;
  width: 54px;
  height: 54px;
  cursor: pointer;
}

.sctopgene a {
  display: inline-block;
  text-decoration: none;
}

.sctopgene li img {
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 48px;
  height: 48px;
  opacity: 0.7;
}

.sctopgene li img:hover {
  opacity: 1.0;
}

/* XXX mrege these two */
.sctophit {
  margin-bottom: 32px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
}

.sctophit:hover {
  opacity: 0.5;
}

body .scside h1 {
  color: #999999;
  font-size: 1.5em;
  padding: 10px 12px 4px 16px;
  margin: 0;
  border-bottom: 1px solid #ccc;
  height: 25px;
}

.scth_left {
  height: 127px;
  width: 160px;
  float: left;
  position: absolute;
  border-right: 1px solid #ccc;
}

.scth_right {
  height: 125px;
  width: 287px;
  float: right;
  position: relative;
  margin-top: 2px;
}

.scth_type {
  vertical-align: middle;
  line-height: 24px;
  text-align: center;
  padding-right: 8px;
  font-weight: bold;
  height: 24px;
  background: #ddd;
}

.scth_name {
  font-size: 36px;
  font-weight: bold;
  vertical-align: middle;
  line-height: 70px;
  text-align: center;
  margin-right: 4px;
  color: #444;
  height: 70px;
}

.scth_name.was_wrapped {
  line-height: 1em;
  font-size: 32px;
}

.scth_source {
  max-height: 32px;
  font-size: 10px;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-bottom: 6px;
}

.scth_top {
  height: 60px;
}

.scth_biotype {
  height: 25px;
  font-size: 14px;
  font-style: italic;
  line-height: 25px;
  vertical-align: middle;
  text-align: center;
}

.scth_desc {
  height: 40px;
  font-size: 14px;
  font-style: italic;
  position: absolute;
  bottom: 0;
  margin-bottom: 6px;
  text-align: center;
  width: 100%;
  vertical-align: middle;
  line-height: 40px;
}

.scth_species {
  height: 60px;
  width: 60px;
  float: left;
}

.scth_species img {
  width: 58px;
  height: 58px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.scth_canvas {
  height: 60px;
  width: 227px;
  float: right;
}

.scth_canvas_holder {
  margin: 0 2px 0 2px;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 58px;
}

.sctg_dots {
  float: right;
  width: 44px;
  height: 48px;
  background: white;
  position: absolute;
  top: 50px;
  right: 10px;
  z-index: 2;
  font-size: 12px;
  display: inline-block;
  border: 1px solid #eee;
  border-radius: 8px;
  vertical-align: middle;
  padding-right: 4px;
  text-align: center;
  line-height: 48px;
}

.sctopgene:hover .sctg_dots {
  display: none;
}

.scth_play {
  position: absolute;
  top: 40px;
  left: 50%;
  font-size: 100px;
  z-index: 100;
  display:none;
  margin-left: -20px;
  color: black;
}

.sctophit:hover .scth_play {
  display: block;
}

.solr_g_layout .current_table_faceter {
  display: inline-block;
  vertical-align: bottom;
  margin-right: -5px;
}

.solr_g_layout .table_acc_ne {
  position: relative;
  width: 562px;
}

.solr_g_cf_outer {
  width: 200px;
  border-radius: 4px 0px 0px 4px;
  background: #36b;
  background: -moz-linear-gradient(center top , [[GRADBUTTON_MAIN]],[[GRADBUTTON_MAIN]], [[GRADBUTTON_DARK]]) [[GRADBUTTON_MAIN]];
  background: -webkit-linear-gradient(center top , [[GRADBUTTON_MAIN]],[[GRADBUTTON_MAIN]], [[GRADBUTTON_DARK]]) [[GRADBUTTON_MAIN]];
  background: -ms-linear-gradient(center top , [[GRADBUTTON_MAIN]],[[GRADBUTTON_MAIN]], [[GRADBUTTON_DARK]]) [[GRADBUTTON_MAIN]];
  background: -o-linear-gradient(center top , [[GRADBUTTON_MAIN]],[[GRADBUTTON_MAIN]], [[GRADBUTTON_DARK]]) [[GRADBUTTON_MAIN]];
  background: -linear-gradient(center top , [[GRADBUTTON_MAIN]],[[GRADBUTTON_MAIN]], [[GRADBUTTON_DARK]]) [[GRADBUTTON_MAIN]];
  border-color: #669 #356 #366;
  border-style: solid;
  border-width: 1px;
  /* Make unselectable: it's a button! */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.solr_g_cf_cur {
  height: 22px;
  color: white;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  line-height: 20px;
  padding: 2px 16px 2px 2px;
  background: url(/i/32/down_rev.png) 99% 50% no-repeat;
  background-size: 12px;
  cursor: pointer;
}

.solr_g_cf_cur.waffly {
  font-size: 10px;
  line-height: 11px;
}

.solr_g_cf_popup {
  background: none repeat scroll 0 0 white;
  border: 1px solid black;
  margin: -2px 16px -1px 0;
  position: fixed;
  width: 199px;
  box-shadow: 2px 2px 0 rgba(255,255,255,0.75);
  display: none;
}

.solr_g_cf_popup ul {
  padding: 0;
  margin: 0;
}

.solr_g_cf_popup li {
  list-style-image: none;
  list-style: none;
  margin: 0;
  padding: 6px 22px 6px 6px;
  cursor: pointer;
}

.solr_g_cf_popup a {
  text-decoration: none;
  color: #555;
}

.solr_g_cf_popup li:hover {
  background: url("/i/16/add.png") no-repeat scroll 95% 50% #dfd;
}

.scnarrow table {
  padding: 8px;
  border-collapse: collapse;
  margin: 16px 0;
  width: 530px;
}

.scnarrow th {
  background: #36b;
  font-weight: bold;
  color: white;
}

.scnarrow th, .scnarrow td {
  border: 1px solid #999;
  padding: 4px 6px;
}

.scnarrow p {
  margin: 1em 0;
}

.cloud {
  margin: 8px;
}

.cloud a {
  background: none repeat scroll 0 0 [[SEARCH_BG]];
  display: inline-block;
  font-size: 20px;
  margin: 2px;
  padding: 2px 6px;
  color: black;
  text-decoration: none;  
  border-radius: 4px;
}

a.location {
  color: #338833;
  display: inline-block;
  margin: 0 6px; 
  font-size: 95%;
  text-decoration: none;
}

a.location:hover {
  text-decoration: underline;
}

.solr_ghost {
  color: #ccc;
}

.remote_hover {
  background: #f4f8ff;
}

.solr_result_stmt {
  height: 28px;
  margin: 0 8px;
  white-space: nowrap;
}

.solr_result_restricted ul {
  display: inline;
  padding: 0;
  margin: 0;
}

.solr_result_restricted li {
  background: url("/i/green-cross-pale.png") no-repeat scroll 95% 85% #DDFFDD;
  border: 1px solid #00CC00;
  font-size: 90%;
  list-style: none;
  padding: 1px 24px 1px 6px;
  display: inline-block;
  margin: 4px;
  cursor: pointer;
}

.ie67 .solr_result_restricted li {
  display: inline;
}


.solr_result_restricted li:hover {
  background-image: url("/i/green-cross.png");
}

.solr_result_restricted a {
  color: #006600;
  text-decoration: none;
  width: 100%;
}

.solr_result_restricted a:hover {
  color: #005500;
  text-decoration: none;
  width: 100%;
}

.solr_result_count {
  font-weight: bold;
  display: inline-block;
  margin: 4px 0;
  padding: 1px 0;
}

.solr_result_query {
  font-weight: bold;
}

.table_row .description a {
  color: #3366BB;
  text-decoration: none;
}

.table_row .description a:hover {
  color: #CC0000;
}

.description ul {
  margin: 1.25em 0;
  padding: 0 0 0 1em;
}

.description ul li {
  list-style: none;
}

.result-type-species-homepage .quick_links {
  display: none;
}

div.result-type-species-homepage div.preview_float {
  display: none;
}
