/* All list items */
.solr_beak_p a, .solr_beak_p_title {
    display: block;
    padding: 6px;
    text-decoration: none;
    margin-left: 8px;
}

/* Hovering over list item */
.solr_beak_p_contents a:hover , .solr_curfac_contents a:hover {
  background: url("/i/16/add.png") no-repeat scroll 95% 50% #ddffdd;
}

div.solr_beak_p_contents a:hover {
  background: url("/i/16/add.png") no-repeat scroll 99% 50% #ddffdd;
}

/* Hovering over "current" faceter list item */

.solr_curfac_left {
  padding: 6px 6px 4px;
}

.solr_curfac_row {
  padding: 0 0 8px;
}

.solr_curfac_right {
  padding: 0;
  font-weight: bold;
  padding: 0 0 0 32px;
  display: inline-block;
}

/* Overall layout */
.solr_beak_p {
    margin: 16px 0;
}

/* Layout of titles */
div.solr_beak_p_title {
    background: none repeat scroll 0 0 [[MH_TAB]];
    color: white;
    font-weight: bold;
    line-height: 100%;
    border-radius: 8px 8px 0 0;
}

/* Hovering over folders when on */
a.solr_beak_p_fall_on:hover {
    background: url("/i/16/back2.png") no-repeat scroll 95% 50% #DDDDFF;
}

/* Folders */
a.solr_beak_p_fall_on, a.solr_beak_p_fall_off {
    color: #666666;
}

/* Hovering over folders when off */
a.solr_beak_p_fall_off:hover {
    background: url("/i/16/forward2.png") no-repeat scroll 95% 50% #DDDDFF;
}

/* Numbers on right */
.solr_beak_p_right {
  margin-right: 24px;
  float: right;
}

.ie67 .solr_beak_p_right { float: none; }

.solr_feet_p_current {
  background: #ddffdd;
}

.solr_feet_p .solr_beak_p_contents {
  margin-left: 8px;
}

.solr_beak_p_more a {
  color: #666666;
}

.solr_beak_p_more a:hover {
  background: url("/i/16/forward2.png") no-repeat scroll 95% 50% #DDDDFF;
}

.solr_beak_p_less a {
  color: #666666;
}

.solr_beak_p_less a:hover {
  background: url("/i/16/back2.png") no-repeat scroll 95% 50% #DDDDFF;
}

.solr_beak_p.solr_feet_p a {
  display: inline-block;
  margin: 0;
}

.solr_feet_p .solr_beak_p_right {
  margin-right: 12px;
}

