.t_spinner_outer {
  left: 241px;
  position: fixed;
  right: 16px;
  top: 0px;
  height: 1px;
}

.t_spinner {
  margin: auto;
  width: 100px;
  height: 100px;
}

.t_spinner_inner {
  position: absolute;
  height: 100px;
  width: 100px;
  top: 280px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background: white;
}

.t_spinner_img {
  background: url("/i/e-loader.gif") repeat scroll 0 0 transparent;
  height: 66px;
  width: 66px;
  margin: auto;
  top: 17px;
  left: 17px;
  position: absolute;
}


.t_fail_outer {
  left: 175px;
  position: fixed;
  right: 16px;
  top: 0px;
  height: 1px;
}

.t_fail {
  margin: auto;
  width: 100px;
  height: 100px;
}

.t_fail_inner {
  position: absolute;
  height: 100px;
  width: 166px;
  top: 280px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background: white;
}

.t_fail_img {
  background: url("/i/fail.gif") repeat scroll 0 0 transparent;
  height: 66px;
  width: 133px;
  margin: auto;
  top: 17px;
  left: 17px;
  position: absolute;
}

.t_page_no_results {
  color: #E0E0E0;
  font-size: 100px;
  font-weight: bold;
  margin-top: 80px;
  margin-bottom: 80px;
  text-align: center;
}

.t_download {
  float: left;
}

.t_download_click {
  background: url("/i/export_csv.png") no-repeat scroll 0 0 transparent;
  cursor: pointer;
  height: 24px;
  margin-left: 10px;
  position: relative;
  width: 25px;
}

.t_download_popup {
  background-color: #EAEEFF;
  border: 1px outset #BBCCFF;
  display: block;
  font-size: 10px;
  font-weight: bold;
  padding: 2px;
  position: absolute !important;
  right: 0;
  text-align: left;
  top: 24px;
  white-space: normal;
  z-index: 200;
}

.t_download_popup a {
  display: block;
  white-space: nowrap;
  float: left;
  margin: 4px;
  text-decoration: none;
}

.t_main_topcars {
  margin: 12px;
}

.t_main_topcars .scsug-fold {
  margin: -12px 0 12px -12px;
}
