/* Count */
.vdoc_dtype_count { color:#FFF;border-radius:5px;padding:2px 4px;cursor:help;white-space:nowrap;font-size:0.85em;margin-right:4px; }
.vdoc_new_version { background-color:#090; }
.vdoc_new_source  { background-color:#00F; }
.vdoc_billion_2   { background-color:#610b8f; }
.vdoc_million_0   { background-color:#000077; }
.vdoc_million_1   { background-color:#002B97; }
.vdoc_million_2   { background-color:#0157B7; }
.vdoc_thousand    { background-color:#0183D7; }
.vdoc_hundred     { background-color:#02AFF7; }
.vdoc_zero        { background-color:#CCC; }
.vdoc_var_count   { color:#FFF;border-radius:5px;padding:3px 4px 1px;cursor:help;white-space:nowrap; }

/* Species header */
.vdoc_species_sci_name { font-style:italic;font-weight:normal;padding-left:8px;color:#555; }

/* Table */
.vdoc_data_types       { width:155px; }
th.vdoc_extra_column   { text-align:center;border-left:1px solid #CCC; }
td.vdoc_extra_column   { border-left:1px solid #CCC; }
div.vdoc_type_style    { float:left;width:50%;text-align:left; }
div.vdoc_count_style   { float:left;width:35%;text-align:right; }
div.vdoc_example_style { float:left;width:15%;text-align:center; }

/* Right-hand side menu */
div.vdoc_menu { margin: 2px 0px 16px 8px;padding-bottom:2px;background-color:#F9F9F9;color:#333; }
div.vdoc_menu_header { padding:5px 5px 3px;font-weight:bold;color:#000;background-color:#FFF;margin-bottom:5px; }
div.vdoc_menu_separator { border-top:1px dotted #22949b;height:1px;margin:2px 0px 6px; }
div.vdoc_menu_left  { float:left;width:65%; }
div.vdoc_menu_right { float:right;width:35%;position:relative; } 

div.vdoc_menu_src         { border-left:1px dotted #336;border-right:1px dotted #336;border-bottom:1px dotted #336; }
div.vdoc_menu_header_src  { border-top:2px solid #336;border-bottom:1px solid #336; }
div.vdoc_menu_phen        { border-left:1px dotted #22949b;border-right:1px dotted #22949b;border-bottom:1px dotted #22949b; }
div.vdoc_menu_header_phen { border-top:2px solid #22949b;border-bottom:1px solid #22949b; }

span.vdoc_source_count    { display:inline-block;border-radius:8px;text-align:center;font-size:0.8em;color:#FFF;width:22px;height:12px;margin-left:4px;padding:1px 0px; }
span.vdoc_new_version_count { position:absolute;top:1px;left:0px; }
span.vdoc_new_source_count  { position:absolute;top:1px;left:26px; }


/* Legend */
.vdoc_source_legend { width:4px;height:25px;margin-left:9px; }
.vdoc_count_legend  { color:#FFF;border-radius:5px;padding:1px 2px 1px 20px;cursor:default; }

