/* Styles for DbFrontend pages */
/* TODO: Replace colours with colour constants from ini files */

table.dbf-ss {
  table-layout: fixed;
}

table.dbf-ss tr.dbf-list-row:hover {
  -moz-box-shadow:0 0 1px #666;
  -webkit-box-shadow: 0 0 1px #666;
  box-shadow: 0 0 1px #666;
}

table.dbf-ss tr.dbf-list-row:hover td.dbf-list-buttons a {
  display: inline;
}

.dbf-heading {
  margin-left: 6px;
}

div.dbf-record, div.dbf-inline-form {
  border: #ccc solid 1px;
  margin: 5px 0;
  clear: both;
  overflow: hidden;
}

div.dbf-row {
  overflow: hidden;
  padding: 1px 0;
}

div.dbf-row-left {
  width: 25%;
  float: left;
  font-weight: bold;
  padding: 1px 5px;
  clear: left;
}

div.dbf-row-right {
  padding: 1px 5px 1px 25%;
  margin-left: 10px;
}

div.dbf-pagination {
  overflow: hidden;
}

div.dbf-pagelinks {
  margin: 5px 0;
}

div.dbf-pagelinks * {
  text-decoration: none;
  margin: 2px 6px 2px 0;
}

div.dbf-pagelinks a:hover {
  text-decoration: underline;
}

div.dbf-pagelinks span {
  cursor: default;
}

div.dbf-pagelinks a.selected {
  font-weight: bold;
  color: #000;
  cursor: default;
  text-decoration: none;
  padding: 0 2px;
  border: #999 solid 1px;
}

div.dbf-pagelinks a.disabled {
  color: #aaa;
  cursor: default;
  text-decoration: none;
}

p.dbf-pagecount {
  float: right;
  font-weight: bold;
  margin: 5px 0;
}

p.dbf-dialogue {
  padding: 5px;
  overflow: hidden;
  font-weight: bold;
}

div.dbf-row-buttons {
  overflow: hidden;
  background-color: #ddd;
  padding: 1px 0;
  clear: both;
}

div.dbf-row-buttons a, a.dbf-confirm-buttons {
  border: #aaa solid 1px;
  margin: 2px 5px 2px 3px;
  text-decoration: none;
  padding: 0px 4px;
  display: block;
  float: left;
  background-color: #fff;
  font-weight: normal;
}

td span.dbf-list-edit, td a.dbf-list-view {
  height: 16px;
  width: 18px;
  position: absolute;
  display: none;
  background: transparent url(/i/orm_edit.png) no-repeat 2px 0;
  cursor: pointer;
  margin-top: -1px;
}
td a.dbf-list-view {
  background-image: url(/i/orm_view.png);
  margin-left: 18px;
  outline: none;
}

td:hover span.dbf-list-edit, td:hover a.dbf-list-view {
  display: inline;
}

td.dbf-list-buttons a {
  margin-top: -1px;
  display: none;
  position: absolute;
  height: 16px;
  width: 18px;
  background: transparent url(/i/orm_edit.png) no-repeat 2px 0;
  outline: none;
}

td.dbf-list-buttons a.dbf-list-delete {
  margin-left: 20px;
  background: transparent url(/i/orm_delete.png) no-repeat 2px 0;
}

td.dbf-list-buttons a.dbf-list-duplicate {
  margin-left: 40px;
  background: transparent url(/i/orm_copy.png) no-repeat 2px 0;
}

div.dbf-list-buttons input {
  margin: 3px 6px 3px 0;
}

tr.dbf-list-form td {
  border: #ddd solid 1px;
  border-width: 1px 0;
}

p.dbf-error {
  color: red;
  padding: 10px;
}