/* Styles for DbFrontend pages */

table.dbf-ss {
  table-layout: fixed;
}

table.dbf-ss tr.dbf-list-row:hover td.dbf-list-buttons a {
  display: inline;
}

div.dbf-record, div.dbf-inline-form {
  border: [[PANEL_BORDER]] solid 1px;
  margin: 0 0 16px 0;
  clear: both;
  overflow: hidden;
  background-position: center center; /* if elements also has class 'spinner' */
}

.dbf-ss .dbf-padded, .dbf-inline-form .dbf-padded {
  padding: 16px 16px 0;
}

div.dbf-inline-form form {
  margin-bottom: 0;
}

div.dbf-row {
  overflow: hidden;
  padding: 1px 0;
}

div.dbf-row-left {
  float: left;
  clear: left;
  width: 25%;
  font-weight: bold;
  line-height: 16px;
  padding: 4px;
}

div.dbf-row-right {
  padding: 4px 4px 4px 25%;
  margin-left: 16px;
  line-height: 16px;
}

div.dbf-pagination {
  overflow: hidden;
}

div.dbf-pagelinks {
  margin: 5px 0;
}

div.dbf-pagelinks * {
  text-decoration: none;
  margin: 2px 6px 2px 0;
}

div.dbf-pagelinks a:hover {
  text-decoration: underline;
}

div.dbf-pagelinks span {
  cursor: default;
}

div.dbf-pagelinks a.selected {
  font-weight: bold;
  color: #000;
  cursor: default;
  text-decoration: none;
  padding: 0 2px;
  border: #999 solid 1px;
}

div.dbf-pagelinks a.disabled {
  color: #aaa;
  cursor: default;
  text-decoration: none;
}

p.dbf-pagecount {
  float: right;
  font-weight: bold;
  margin: 5px 0;
}

div.dbf-row-buttons {
  overflow: hidden;
  background-color: [[PANEL_BORDER]];
  padding: 4px 0 3px 6px;
  clear: both;
}

div.dbf-confirm-buttons, div.dbf-close-button {
  overflow: hidden;
  margin-bottom: 16px;
}

div.dbf-close-button {
  padding-left: 16px;
}

div.dbf-row-buttons a, div.dbf-confirm-buttons a, div.dbf-close-button a {
  float: left;
  display: block;
  margin: 0 8px 0 0;
  padding: 3px 4px 2px;
  text-decoration: none;
  font-size: 11px;
  background-color: [[BUTTON_BG]];
  color: [[BUTTON_TEXT]];
}

div.dbf-row-buttons a:hover, div.dbf-confirm-buttons a:hover, div.dbf-close-button a:hover {
  background-color: [[BUTTON_BG_HOVER]];
}

td span.dbf-list-edit, td a.dbf-list-view {
  height: 16px;
  width: 18px;
  position: absolute;
  display: none;
  background: transparent url(/i/16/pencil.png) no-repeat 2px 0;
  cursor: pointer;
  margin-top: -1px;
}
td a.dbf-list-view {
  background-image: url(/i/16/eye.png);
  margin-left: 18px;
  outline: none;
}

td:hover span.dbf-list-edit, td:hover a.dbf-list-view {
  display: inline;
}

div.dbf-list-view-response {
  border-bottom: [[PANEL_BORDER]] solid 1px;
}

td.dbf-list-buttons a {
  margin-top: -1px;
  display: none;
  position: absolute;
  height: 16px;
  width: 18px;
  background: transparent url(/i/16/pencil.png) no-repeat 2px 0;
  outline: none;
}

td.dbf-list-buttons a.dbf-list-delete {
  margin-left: 20px;
  background: transparent url(/i/16/cross.png) no-repeat 2px 0;
}

td.dbf-list-buttons a.dbf-list-duplicate {
  margin-left: 40px;
  background: transparent url(/i/16/copy.png) no-repeat 2px 0;
}

div.dbf-list-buttons input {
  margin: 3px 6px 3px 0;
}

tr.dbf-list-form td {
  border-bottom: [[PANEL_BORDER]] solid 1px;
  padding: 0;
}

tr:last-child.dbf-list-form td {
  border-bottom: none;
}

td div.dbf-inline-form {
  border: [[PANEL_BORDER]] solid 1px;
  background-color: [[PAGE_BG]];
  margin: 0 8px 8px;
}

table.dbf-ss tr.dbf-list-row form {
  padding: 0;
  margin: 0;
}

table.dbf-ss tr.dbf-list-row form select.fselect {
  width: auto;
  max-width: 200px;
}

p.dbf-error {
  color: red;
  padding: 16px 16px 0;
}
