div.-ds-editable pre, div.-ds-readonly pre {
  margin: 2px 0;
}

div.-ds-tab, div.-ds-tab-div {
  border-bottom: #ccc solid 1px;
  overflow: hidden;
}

div.-ds-tab-div {
  padding: 4px 0 0;
  overflow: hidden;
}

div.-ds-tab-div label {
  float: left;
  margin-top: 8px;
}

div.-ds-tab-div input {
  clear: right;
  float: right;
  margin-top: 4px;
}

div.-ds-tab a {
  margin-right: 4px;
  padding: 3px 3px 1px;
  text-decoration: none;
  color: #eee;
  background-color: #bbb;
  float: left;
  width: 80px;
  outline: 0;
  text-align: center;
  border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
}

div.-ds-tab a.selected {
  font-weight: bold;
  color: #fff;
  background-color: #999;
}

div.-ds-tab a.selected span.-ds-sel {
  display: none;
}

div.-ds-editable span.-ds-hil:hover {
  background-color: #def;
  font-weight: bold;
  cursor: pointer;
}

span.-ds-key {
  font-weight: bold;
}

div.-ds-menu {
  position: absolute;
  border: #e2e2e2 solid 1px;
  background-color: #eee;
  padding: 4px 4px 0;
}

div.-ds-menu form, div.-ds-menu p {
  margin: 0 0 4px;
  overflow: hidden;
}

div.-ds-menu div.-ds-tab-div {
  border: none;
}

p.-ds-menu-close {
  text-align: right;
}

p.-ds-menu-close a {
  font-size: 10px;
  font-weight: bold;
  text-decoration: none;
}

p.-ds-error {
  color: red;
}

span.-ds-remove {
  cursor: pointer;
  background-color: #fdd;
}

div.-ds-editable span.-ds-remove-button:hover {
  background-image: url(/i/orm_delete.png);
  background-repeat: no-repeat;
}

form label div.-ds-readonly {
  font-weight: normal;
}