/* XXX pager to table */

.solr_pager_entry {
  border: solid [[MEDIUM_GREY]];
  display: inline-block;
  margin: 0;
  padding: 4px;
  text-align: center;
  text-decoration: none;
  line-height: 100%;
  background: [[WHITE]];
  border-width: 1px 1px 0 0;
  min-width: 12px;
}

.solr_pager_entry_background {
  border: none;
  background: none;
  color: inherit;
}

.solr_pager_entry.solr_pager_entry_disabled {
  background: [[MEDIUM_GREY]];
  color: inherit;
  cursor: inherit;
}

.solr_pager_entry.solr_pager_entry_current {
  background: [[SEVERE_LIGHT]];
  color: inherit;
  cursor: inherit;
}

#solr_config, #solr_context, #solr_strings, #solr_templates {
  display: none;
}

/* Googly */
.table_result {
  padding: 8px;
  margin-bottom: -6px;
  width: 600px;
}

.table_toplink {
  font-size: 14px;
  margin: 8px 0;
}

.table_toplink:not([href]) {
  color: [[DARK_GREY]];
  font-weight: bold;
  cursor: default;
}

.green_data {
  font-size: 12px;
}

.id {
  color: [[OK_DARK]];
  font-weight: bold;
}

.se_search {
  width: 550px;
}

.se_search_table_prehead {
  height: 32px;
  width: 100%;
}


.se_search_table_posttail {
  height: 32px;
  width: 100%;
}

.se_search .solr_pager_entry {
  border: none;
  background: none;
}

.se_search .solr_query_box {
  background: none repeat scroll 0 0 [[MAIN_V_LIGHT]];
  float: none;
  padding: 16px 16px 6px 16px;
  position: relative;
  width: 562px;
}

.se_search div.search_table_prehead_filterctl {
  float: none;
  padding: 0;
  position: static;
}

.se_search .search_table_holder {
  margin-top: 90px;
  padding: 8px;
}

.se_search .search_table_prehead_filterctl input {
  border: medium none;
  font-size: 16px;
  font-weight: bold;
  height: 26px;
  width: 250px;
  background: none;
  position: absolute;
  margin: 0;
}

.se_search .cf_shown .replacement_filter .search_table_prehead_filterctl input {
  width: 248px;
}

.se_search .search_table_filter {
  display: inline;
  height: 100%;
  margin: 6px;
}

.se_search .replacement_filter {
  display: inline-block;
  height: 26px;
  width: 250px;
  vertical-align: middle;
  background: white;
  border-color: [[PALE_GREY]];
  border-style: solid;
  border-width: 1px;
  position: relative;
  padding: 0 6px;
}

.se_search .cf_shown .replacement_filter {
  width: 248px;
}

.se_search .search_button {
  background: url("/i/16/rev/search.png") no-repeat scroll 50% 50% [[MAIN_DARK]];
  display: block;
  height: 26px;
  vertical-align: bottom;
  width: 80px;
  border-color: [[MAIN_DARK]] [[MAIN_V_DARK]];
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  position: absolute;
  top: 16px;
  right: 16px; 
  background: [[MAIN_DARK]];

}

.se_search .search_button .icon {
    background: url("/i/16/rev/search.png") no-repeat scroll 50% 50% transparent;
    display: inline-block;
    height: 100%;
    width: 100%;
}

.se_search .search_button:active {
  background: -moz-linear-gradient(center top , [[MAIN_V_DARK]], [[MAIN_MEDIUM]]) repeat scroll 0 0 transparent;
  background: -webkit-linear-gradient(center top , [[MAIN_V_DARK]], [[MAIN_MEDIUM]]) repeat scroll 0 0 transparent;
  background: -ms-linear-gradient(center top , [[MAIN_V_DARK]], [[MAIN_MEDIUM]]) repeat scroll 0 0 transparent;
  background: -o-linear-gradient(center top , [[MAIN_V_DARK]], [[MAIN_MEDIUM]]) repeat scroll 0 0 transparent;
  background: linear-gradient(center top , [[MAIN_V_DARK]], [[MAIN_MEDIUM]]) repeat scroll 0 0 transparent;
}

.se_query {
  background: none repeat scroll 0 0 white;
  padding: 16px 0;
  position: fixed;
  top: 80px;
}

.quick_links {
  margin-bottom: 2px;
}

.quick_links ul {
  display: inline;
  padding-left: 4px;
  font-size: 85%;
}

.quick_links ul li {
  display: inline;
  padding: 0 6px 0 12px;
  background: url(/i/bullet_1.gif) 0% 55% no-repeat;
  background-size: 5px;
}

.quick_links ul li:first-child {
  background: none;
  margin-left: -12px;
}

.quick_links ul a {
  text-decoration: none;
  display: inline-block
}

.quick_links ul a:hover {
  text-decoration: underline;
}

.search-ac-cat { list-style: none; list-style-image: none; font-size: 80%; }

.search-ac em { font-size: 80%; color: [[DARK_GREY]]; float: right; }
.search-ac i { color: black; }


.search-ac-cat {
  font-weight: bold;
  padding: .2em .4em;
  margin: .8em 0 .2em;
  line-height: 1.5;
  font-size: 90%;
}
