#masthead div.account_holder                                              { position: absolute; right: 0; top: 0; }

#masthead div.account_holder a.account-link                               { display: block; height: 24px; line-height: 24px; margin-right: 16px; }
#masthead div.account_holder a.account-link span.acc-email                { display: block; float: left; margin: 0 24px 0 0; }
#masthead div.account_holder a.account-link span.acc-arrow                { position: absolute; display: block; right: 8px; top: 0; z-index: 201; text-align: center; width: 24px; }
#masthead div.account_holder a.account-link span.acc-arrow span.selected  { display: none; }
#masthead div.account_holder a.selected     span.acc-email                { color: [[MH_HOVER]]; }
#masthead div.account_holder a.selected     span.acc-arrow                { color: [[PAGE_TEXT]]; background-color: [[TINT_BG]]; height: 25px; border: 1px solid [[TINT_BORDER]]; border-width: 0 1px; }
#masthead div.account_holder a.selected     span.acc-arrow span           { display: none; }
#masthead div.account_holder a.selected     span.acc-arrow span.selected  { display: inline; }

#masthead div.account_holder div.accounts-dropdown                        { display: none; background-color: [[TINT_BG]]; position: absolute; z-index: 200; padding: 8px 8px 0;
                                                                            right: 8px; width: 240px; text-align: right; border: [[TINT_BORDER]] solid 1px; }
#masthead div.account_holder div.accounts-dropdown h4,
#masthead div.account_holder div.accounts-dropdown p                      { margin: 0 0 8px 0; overflow: hidden; color: [[PAGE_TEXT]]; line-height: 16px; }
#masthead div.account_holder div.accounts-dropdown div                    { border-top: [[TINT_BORDER]] solid 1px; background-color: inherit; padding: 8px 0 0; }
#masthead div.account_holder div.accounts-dropdown a                      { color: [[PAGE_LINK]]; }

#masthead div.account_holder div.accounts-dropdown p.acc-bookmark-overflow                              { height: 16px;   }
#masthead div.account_holder div.accounts-dropdown p a span.acc-bookmark-overflow                       { display: none;  }
#masthead div.account_holder div.accounts-dropdown p.acc-bookmark-overflow a span                       { float: left;    }
#masthead div.account_holder div.accounts-dropdown p.acc-bookmark-overflow a span.acc-bookmark-overflow { display: inline; position: absolute; right: 8px; background-color: [[TINT_BG]]; }