div.section-ajax                                  { border: [[NEUTRAL_BG]] solid 1px; border-width: 1px 0; }
div.section .spinner                              { background-position: center center; }
tr.inactive td                                    { color: [[NEUTRAL_BORDER]]; }

/* open id icon buttons */
div.login-openid p                                { clear: both; }
div.login-openid p.trademark                      { font-size: 90%; }
div.login-openid ul                               { overflow: hidden; padding: 0; }
div.login-openid li                               { list-style: none; float: left; margin: 0 16px 0 0; }
div.login-openid li img                           { padding: 8px; }
div.login-openid li a:hover img                   { background-color: [[NEUTRAL_BG]]; }

/* openid popup for username input */
div.openid-username                               { position: absolute; display: none; z-index: 1002; padding: 16px 12px 14px 16px; margin: 0; }
div.openid-username form                          { margin: 0; }
div.openid-username div.form-field                { margin: 0; }
div.openid-username div.form-field label.ff-label { width: auto; line-height: 16px; }
div.openid-username div.form-field div.ff-right   { padding: 0; }

/* buttons on the accounts pages */
div.buttons-inline p.accounts-button              { float: left; margin-right: 8px; }
p.accounts-button a                               { display: inline-block; color: [[BUTTON_TEXT]]; text-decoration: none; padding: 4px 7px 4px 29px;
                                                    background: none no-repeat scroll 7px center [[BUTTON_BG]]; border: [[PANEL_BG]] double 3px; outline: none; }
p.accounts-button a:hover                         { background-color: [[BUTTON_BG_HOVER]]; color: [[BUTTON_TEXT]];      }
p.accounts-button a.check                         { background-image: url('/i/16/rev/check.png');                     }
p.accounts-button a.arrow-left                    { background-image: url('/i/16/rev/arrow-left.png');                }
p.accounts-button a.user-group-delete             { background-image: url('/i/16/rev/user-group-delete.png');         }
p.accounts-button a.user-group-inactivate         { background-image: url('/i/16/rev/user-group-inactivate.png');     }

/* sprites */
a.header-link                                     { outline: none; margin-left: 4px; }
a.header-link span.sprite                         { float: none; background-position: 0 0; position: relative; top: 1px; }
a.header-link:hover span.sprite                   { background-position: 0 -18px; }
body.ie67 a.header-link span.sprite               { position: absolute;           }
body.ie6  a.header-link span.sprite               { width: 18px; font-size: 14px; }

/* some extra sprites that don't exist in core */
.user-group-add-icon                              { background-image: url(/i/16/swp/user-group-add.png);    }
.user-group-join-icon                             { background-image: url(/i/16/swp/user-group-join.png);   }
.user-add-icon                                    { background-image: url(/i/16/swp/user-add.png);          }

